--extra-index-url https://download.pytorch.org/whl/cu128

fastapi==0.115.12
uvicorn[standard]==0.34.0
openai-whisper==20250625
python-multipart==0.0.22
urllib3>=2.6.0
cython==3.1.2
huggingface-hub==0.34.4

# whisper-diarization stack
nemo_toolkit[asr]==2.4.0
nltk==3.9.4

# GPU / Torch stack (EXPLICIT CUDA builds)
torch==2.8.0+cu128
torchaudio==2.8.0+cu128
torchcodec==0.11.0+cu128
faster-whisper==1.2.0
ctranslate2==4.6.0

# Compatibility pins (CRITICAL for your working setup)
transformers==4.51.3
pytorch-lightning==2.6.1
lightning-utilities==0.15.3
torchmetrics==1.9.0

# NVIDIA user-space libs (pip-installed CUDA runtime pieces)
nvidia-cublas-cu12
nvidia-cudnn-cu12==9.*
nvidia-npp-cu12
nvidia-cuda-runtime-cu12
nvidia-cuda-nvrtc-cu12

# External repos
git+https://github.com/MahmoudAshraf97/demucs.git
git+https://github.com/oliverguhr/deepmultilingualpunctuation.git
ctc-forced-aligner @ git+https://github.com/MahmoudAshraf97/ctc-forced-aligner.git@e23e1525bae810f0582b6e539ce7aec63fd01196