apiVersion: apps/v1
kind: Deployment
metadata:
  name: whisper-frontend-api
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: whisper-frontend
  template:
    metadata:
      labels:
        app: whisper-frontend
    spec:
      containers:
        - name: whisper-frontend
          image: "{{ .Values.frontend.image.name }}:{{ .Values.frontend.image.tag }}"
          env:
            - name: POD_NAMESPACE
              value: {{ .Values.namespace }}
            - name: SMU_PW_1
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.frontend.secretName }}
                  key: SMU_PW_1
            - name: SMU_PW_2
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.frontend.secretName }}
                  key: SMU_PW_2
            - name: SMU_PW_3
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.frontend.secretName }}
                  key: SMU_PW_3
            - name: SMU_PW_4
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.frontend.secretName }}
                  key: SMU_PW_4
          ports:
            - containerPort: 8501
          imagePullPolicy: Always
