apiVersion: apps/v1
kind: Deployment
metadata:
  name: whisper-frontend-api
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: whisper-frontend
  template:
    metadata:
      labels:
        app: whisper-frontend
    spec:
      containers:
        - name: whisper-frontend
          image: "{{ .Values.frontend.image.name }}:{{ .Values.frontend.image.tag }}"
          env:
            - name: POD_NAMESPACE
              value: {{ .Values.namespace }}
            - name: HTTP_PROXY
              value: {{ .Values.backend.proxy }}
            - name: HTTPS_PROXY
              value: {{ .Values.backend.proxy }}
            - name: NO_PROXY
              value: {{ .Values.backend.no_proxy }}
          resources:
            requests:
              cpu: "1"
              memory: "3Gi"
            limits:
              cpu: "4"
              memory: "6Gi"
          volumeMounts:
            - name: streamlit-secrets
              mountPath: /home/appuser/app/.streamlit/secrets.toml
              subPath: secrets.toml
              readOnly: true
          ports:
            - containerPort: 8501
          imagePullPolicy: Always
      volumes:
        - name: streamlit-secrets
          secret:
            secretName: streamlit-secrets
          